{% extends 'base.html' %}
{% block title %}
    ProgramWithAbhi-About
{% endblock title %}
{% block body %}
    

    <!-- Page Header-->
    <header class="masthead" style="background-image: url('static/assets/img/Developer.webp')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="page-heading">
                        <h1>About Me</h1>
                        <span class="subheading">This is what I do.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main Content-->
    <main class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <h3>I'm Abhishek And I'm Self Taught Software Developer.</h3>
                    <p>I like building new stuff and work with other people – nothing really interesting is ever built
                        alone!</p>

                    <p>My main interests are:
                        <ul>
                        <li>– Software architecture</li>
                        <li>– High availability</li>
                        <li>– Distributed Systems</li>
                        <li>– Java/Flutter/Kotlin</li>
                        <li>– Python</li>
                        <li>– C++</li>
                        <li>– Awesome CSS</li>
                        <li>– JavaScript/TypeScript</li>
                        <li>– Concurrent programming</li>
                        <li>– Reactive Programming</li>
                        <li>– Learning new programming languages</li>
                        <li>– English</li>
                        <li>– Programming Adventure</li>
                    </ul>
                    </p>

                    <p> My working philosophies:
                        – Communication and collaboration with other developers and stakeholders is the key to a
                        successful project
                        – Use the right tool for the job. A programming language is just a tool!
                        – Always try to learn something new.
                    </p>
                    <p>


                        Beside programming I am interested in sports (running, cricket)
                        I am also very interested in the conservation of techie peoples and contribute into open source community.
                    </p>
                    <p>
                        I also like foreign languages and am currently putting a lot of effort into becoming fluent in
                        English. I consider myself advanced right now.
                        And of course it is always fun to learn something new about English (in which I am already
                        fluent).</p>
                </div>
            </div>
        </div>
    </main>

    {% endblock body %}