{% extends 'base.html' %}
{% block title %}
ProgramWithAbhi
{% endblock title %}
{% block body %}


<!-- Page Header-->
<header class="masthead" style="background-image: url('static/assets/img/home-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>iBlog</h1>
                    <span class="subheading">A Blog By Abhishek</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        {% for post in posts %}
        <div class="col-md-10 col-lg-8 col-xl-7">
            <!-- Post preview-->
            <div class="post-preview">
                <a href="/post/{{post.slug}}">
                    <h2 class="post-title">{{post.title}}</h2>
                </a>
                <p class="post-meta">
                    Posted by
                    <a href="/about">Abhishek</a>
                </p>
                <a href="/post/{{post.slug}}">
                    <pre>{{post.content|truncate(60)}}</pre>
                </a>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
            <!-- Pager-->
        </div>
        {% endfor %}
        <div class="clearfix text-center">
            <a class="btn btn-primary"style="float:left;" href="{{prev}}">&larr; Prev Posts</a>
            <a class="btn btn-primary" style="float:right;" href="{{next}}">Next Posts &rarr;</a>
        </div>
    </div>
    <!-- Footer-->
    {% endblock body %}